10-main.py
101-main.py
11-main.py
12-main.py
9-main.py
__pycache__/10-add.cpython-38.pyc
__pycache__/101-remove_char_at.cpython-38.pyc
__pycache__/11-pow.cpython-38.pyc
__pycache__/12-fizzbuzz.cpython-38.pyc
__pycache__/9-print_last_digit.cpython-38.pyc
